.address {
  /* Turn it into occupying whole line */
  display: block;
}

.stop-button {
  display: block;
}

.goal-words,
.result-words,
.result-vehicle-price,
.result-vehicle-cap {
  /* Make its children into same line */
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}

.result-words {
  display: flex;
}

.goal,
.result {
  border-radius: 15px;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 16px;
}

.goal-title,
.result-title {
  color: white;
  background-color: #808080;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
}

.warning {
  font-size: 18px;
  color: black;
  margin-top: 10px;
}

.goal-space,
.result-space {
  padding: 12px;
}

.result-number {
  color: #489550;
}

.clear-button {
  margin-left: 10px;
}

.route-button {
  background-color: white; /* Green */
  border-radius: 15px;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
.remove-button {
  padding: 12px 8px;
}

/* .stop-button {
  padding: 12px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.stop-button svg {
  margin-right: 4px;
}

.App {
  display: flex;
  /* justify-content: space-around; */
  width: 200%;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 1100;
}

.algo-result-button {
  margin-bottom: 20px;
}

.result {
  margin-bottom: -3px;
  margin-top: 15px;
}

.confirmbtn {
  margin-bottom: 20px;
}
