.address {
  /* Turn it into occupying whole line */
  display: block;
}

.stop-button {
  display: block;
}

.goal-words,
.result-words {
  /* Make its children into same line */
  display: flex;
  margin-bottom: 4px;
}

.result-words {
  display: flex;
}

.goal,
.result {
  border-radius: 15px;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 16px;
}

.goal-title,
.result-title {
  color: white;
  background-color: #808080;
  text-align: center;
  padding: 12px;
}

.warning {
  font-size: 14px;
  color: #d0b6b0;
}

.goal-space,
.result-space {
  padding: 10px;
}

.result-number {
  color: #489550;
}

.route-button {
  background-color: #4caf50; /* Green */
  border-radius: 15px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.stop-button {
  padding: 12px 8px;

  /* Three good stuff */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stop-button svg {
  margin-right: 4px;
}

.App {
  display: flex;
  justify-content: space-around;
}
